@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
   font-family: 'Roboto'; 
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links ul, .info{
    font-size: 18px;
    color: #F9FAF8;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
 }

.links ul{
    display:flex;
    gap: 10px;
    margin-left: auto;
    list-style-type: none;
}

.signup{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 300px;
}

.signup .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left:20px;
}

.signup .text .title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:800;
}

input[type="button"], .footer .body{
    background-color: #3882f6;
}

input[type="button"]{
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
}

.signup-img{
    max-width: 300px;
    min-width: 100px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    height: 300px;
}

.content .title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content .gallery{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.content .gallery .item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

.content .gallery .item img{
    width: 100%;
    margin-bottom: 5px;
    border: #3882f6 solid 3px;
    border-radius: 10px;
}

.quote{
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10%;
    height: 300px;
    background-color: #E5E7EB;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .author{
    font-weight: bolder;
    text-align: right;
    align-self: flex-end;
}

.footer{
    display: flex;
    align-items: center;
    height: 300px;
}

.footer .body{
    height: 100px;
    display: flex;
    justify-content: space-around;
    color: white;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.footer .text{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.footer .text .title{
    font-weight: bolder;
}

.footer .button{
    display:flex;
    align-items: center;
}

.footer input[type="button"]{
    border-color: white;
}